* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px; }

body {
  font-family: 'Hind', sans-serif;
  position: relative;
  background-image: url("../img/circle.svg");
  background-repeat: no-repeat;
  color: #273043;
  background-size: 750px;
  background-position: 128% -190px; }

.mobile {
  display: none; }

body.sub .cover {
  padding-top: 67px; }
  body.sub .cover p {
    font-size: 21px;
    color: #787e8a;
    letter-spacing: 0;
    line-height: 27px; }
  body.sub .cover h2 {
    margin-bottom: 25px; }

h1 {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 68px;
  color: #273043;
  letter-spacing: 0;
  line-height: 68px; }

h2 {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 55px;
  color: #273043;
  letter-spacing: 0;
  line-height: 60px;
  margin-bottom: 29px; }
  h2 .thin {
    font-weight: 400; }

h3 {
  font-family: 'Roboto Slab', serif;
  font-size: 42px;
  color: #273043;
  letter-spacing: 0;
  line-height: 42px;
  font-weight: 700;
  margin-bottom: 21px; }

h4 {
  font-family: 'Roboto Slab', serif;
  font-size: 27px;
  color: #787e8a;
  letter-spacing: 0;
  line-height: 34px; }

h5 {
  font-weight: 700;
  margin-bottom: 12px;
  font-size: 27px;
  color: #273043;
  letter-spacing: 0;
  line-height: 34px; }

::placeholder {
  color: #aeb1b9;
  opacity: 1; }

:-ms-input-placeholder {
  color: #aeb1b9; }

::-ms-input-placeholder {
  color: #aeb1b9; }

.header-top {
  padding-top: 41px; }

.quote {
  margin-top: 6px;
  margin-left: 5px;
  padding-left: 0; }

blockquote {
  border-left: 4px solid #9E0059;
  padding-left: 24px;
  margin-left: 33px;
  padding-top: 3px; }
  blockquote p {
    font-size: 21px;
    color: #273043 !important;
    letter-spacing: 0;
    line-height: 30px !important;
    margin-bottom: 30px; }
  blockquote img {
    float: left;
    margin-right: 16px;
    margin-left: 0px;
    margin-top: -5px;
    width: 60px;
    height: 60px; }
  blockquote .author {
    font-family: 'Roboto Slab', serif;
    font-size: 21px;
    color: #273043;
    letter-spacing: 0;
    line-height: 20px;
    font-weight: 700;
    margin-bottom: 8px;
    display: block; }
  blockquote .company {
    font-size: 16px;
    color: #787e8a;
    letter-spacing: 0;
    line-height: 16px; }

.dropdown {
  padding: 5px 30px 5px 10px;
  border-radius: 4px;
  border: 1px solid #e4e5e8;
  display: inline-block;
  background-image: url("../img/dropdown.svg");
  background-repeat: no-repeat;
  background-position: 85% 14px;
  position: relative;
  z-index: 999;
  cursor: pointer; }
  .dropdown ul {
    position: absolute;
    list-style: none;
    padding: 0;
    top: 32px;
    display: none;
    border-radius: 0 0 4px 4px;
    border: 1px solid #e4e5e8;
    width: 100%;
    margin-left: -11px;
    background-color: #FFF;
    box-sizing: unset; }
    .dropdown ul li {
      padding: 5px 10px;
      text-align: left;
      cursor: pointer; }
      .dropdown ul li.selected {
        background-color: #f0f0f0; }
      .dropdown ul li:hover {
        background-color: #ddd; }
  .dropdown.active ul {
    display: block; }

strong {
  font-weight: 700;
  color: #273043; }

img {
  max-width: 100%; }

p {
  font-size: 21px;
  color: #787e8a;
  letter-spacing: 0;
  line-height: 32px;
  margin-bottom: 31px; }

.box-shadow {
  background: #FFFFFF;
  box-shadow: 0 2px 8px 0 rgba(39, 48, 67, 0.12);
  border-radius: 6px;
  position: relative;
  z-index: 1; }

.center {
  text-align: center; }

.button {
  background: #ed1062;
  border-radius: 6px;
  font-weight: 700;
  font-size: 16px;
  padding: 9px 30px;
  letter-spacing: 0;
  color: #FFF !important;
  text-align: center;
  border: 2px solid #ed1062;
  box-sizing: border-box;
  display: inline-block;
  line-height: 26px;
  text-decoration: none !important; }
  .button.secondary {
    background-color: #FFF;
    border: 2px solid #ed1062;
    color: #ed1062 !important; }
    .button.secondary.arrow {
      background-image: url("../img/arrow-pink.svg");
      background-repeat: no-repeat;
      background-position: 84% center;
      padding-right: 67px; }

.navbar-brand {
  height: 48px;
  display: block;
  width: 147px;
  background-image: url("../img/logo.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 100%;
  position: relative;
  top: -5px; }
  .navbar-brand.active {
    background-image: url("../img/logo-white.svg"); }

.navbar {
  padding-left: 0;
  padding-right: 0; }
  .navbar.active {
    position: fixed;
    width: 100%;
    padding-right: 45px;
    }

nav ul {
  margin-top: 3px; }
nav li.selected a {
  font-weight: 700; }
nav li a {
  font-size: 16px;
  color: #273043 !important;
  letter-spacing: 0;
  line-height: 30px;
  margin-left: 39px; }
nav .button {
  font-size: 12px;
  letter-spacing: .75px;
  text-transform: uppercase;
  position: relative;
  top: 2px;
  padding: 5px 39px;
  border: none;
  border-radius: 4px; }

label {
  font-weight: 700;
  font-size: 16px;
  color: #273043;
  letter-spacing: 0.57px;
  line-height: 27px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 9px; }

input {
  border: 1px solid #AEB1B9;
  border-radius: 6px;
  width: 100%;
  padding: 9px 18px;
  margin-bottom: 24px;
  font-size: 21px;
  line-height: 27px;
  box-sizing: border-box; }

input[type="submit"] {
  border: none; }

.m-bottom {
  margin-bottom: 80px; }

.get-started {
  padding: 65px 9% 48px 9%; }
  .get-started input[type="text"] {
    padding: 15px;
    font-size: 21px;
    font-family: 'Hind', sans-serif;
    border-radius: 4px 0 0 4px;
    border: 1px solid #aeb1b9;
    box-sizing: border-box;
    width: 65%; }
  .get-started input[type="submit"] {
    width: 35%;
    box-sizing: border-box;
    padding: 15px 55px 15px 25px;
    background-color: #ed1062;
    font-size: 21px;
    font-family: 'Hind', sans-serif;
    border-radius: 0 6px 6px 0;
    border: 1px solid #ed1062;
    margin-left: -6px;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 700;
    background-image: url("../img/arrow-white.svg");
    background-repeat: no-repeat;
    background-position: 73% center; }
  .get-started .mobile {
    width: 100%; }
    .get-started .mobile input[type="submit"] {
      background-position: 90% center;
      text-transform: none;
      width: 100%;
      font-size: 16px; }

div.testimonial {
  border-right: 1px solid #e4e5e8;
  padding: 0 40px;
  position: relative;
  padding-bottom: 58px; }
  div.testimonial:last-child {
    border-right: none; }
  div.testimonial label {
    font-size: 12px;
    color: #9e0059; }
  div.testimonial p {
    margin-bottom: 27px;
    color: #273043; }
  div.testimonial .author-wrap {
    width: 100%;
    position: absolute;
    left: 48px;
    bottom: 0; }
    div.testimonial .author-wrap img {
      float: left;
      margin-right: 16px;
      width: 60px;
      height: 60px;
      margin-top: -6px; }
    div.testimonial .author-wrap .author {
      font-family: 'Roboto Slab', serif;
      font-size: 21px;
      color: #273043;
      letter-spacing: 0;
      line-height: 20px;
      font-weight: 700;
      margin-bottom: 8px;
      display: block; }
    div.testimonial .author-wrap .company {
      font-size: 16px;
      color: #787e8a;
      letter-spacing: 0;
      line-height: 16px; }

footer {
  padding: 80px 0 100px 0;
  border-top: 1px solid #e4e5e8;
  position: relative; }
  footer .full, footer .half, footer .social, footer .locale {
    margin-top: 10px; }
  footer .logo {
    margin-bottom: 6px; }
  footer .info {
    margin-bottom: 50px; }
  footer label {
    font-size: 12px;
    margin-bottom: 6px; }
  footer p, footer li a {
    font-size: 16px;
    color: #787e8a;
    letter-spacing: 0;
    line-height: 21px; }
  footer a:hover {
    color: #787e8a; }
  footer ul {
    padding: 0;
    list-style: none; }
    footer ul li {
      line-height: 31px; }
  footer .login a {
    color: #273043; }
  footer .social li {
    padding-left: 30px;
    background-position: left center;
    background-repeat: no-repeat; }
    footer .social li.twitter {
      background-image: url("../img/icon-twitter.svg"); }
    footer .social li.facebook {
      background-image: url("../img/icon-facebook.svg"); }
    footer .social li.google {
      background-image: url("../img/icon-google.svg"); }
    footer .social li.instagram {
      background-image: url("../img/icon-instagram.svg"); }
  footer .info {
    padding-left: 62px; }
  footer .copyright {
    font-size: 12px;
    letter-spacing: 0;
    line-height: 21px; }
  footer .dropdown {
    border: none;
    padding-left: 0; }
    footer .dropdown img {
      margin-top: -2px;
      margin-left: 4px; }

.nav-icon {
  width: 24px;
  height: 20px;
  position: relative;
  float: right;
  margin: 10px 0 10px 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  display: none; }

.nav-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 110%;
  background: #273043;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

/* Icon 3 */
.nav-icon span:nth-child(1) {
  top: 0px; }

.nav-icon span:nth-child(2), .nav-icon span:nth-child(3) {
  top: 7px; }

.nav-icon span:nth-child(4) {
  top: 14px; }

.nav-icon.open span {
  background: #FFF; }

.nav-icon.open span:nth-child(1) {
  top: 7px;
  width: 0%;
  left: 50%; }

.nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

.nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.nav-icon.open span:nth-child(4) {
  top: 14px;
  width: 0%;
  left: 50%; }

.mobile-nav {
  position: fixed;
  left: 0;
  top: 0;
  text-align: right;
  background-color: #273043;
  height: 100%;
  width: 100%;
  padding-top: 90px;
  padding-right: 65px;
  transition: All .2s ease;
  opacity: 0;
  z-index: 12;
  display: none; }
  .mobile-nav a {
    font-size: 34px;
    color: #FFF !important;
    line-height: 34px; }
  .mobile-nav.active {
    opacity: 1;
    display: block; }
  .mobile-nav ul {
    list-style: none; }

.utility-nav {
  display: none;
  width: 200px; }
  .utility-nav a {
    color: #273043;
    padding: 8px 10px;
    font-size: 12px; }
  .utility-nav.active a {
    color: #FFF; }
  .utility-nav.active strong {
    color: #FFF; }

@media (max-width: 768px) {
  .mobile {
    display: inline-block; }

  .desktop {
    display: none; }

  body {
    background-size: 300px;
    background-position: 200% -155px; }

  .header-top {
    padding-top: 0; }

  .utility-nav {
    display: flex;
    justify-content: flex-end;
    margin-top: 2px; }

  .nav-icon {
    display: block; }

  .navbar {
    padding: 18px 0 22px 0;
    z-index: 13; }

  .navbar-brand {
    width: 109px; }

  h1 {
    font-size: 55px;
    line-height: 60px; }

  h2 {
    font-size: 34px;
    line-height: 37px;
    margin-bottom: 25px !important; }

  h3 {
    font-size: 34px;
    margin-bottom: 3px;
    line-height: 39px; }

  .cover {
    padding-top: 60px !important; }
    .cover h2 {
      font-size: 42px;
      line-height: 48px; }

  h4 {
    font-size: 21px;
    line-height: 27px;
    margin-bottom: 39px !important; }

  p {
    font-size: 16px;
    margin-bottom: 23px !important;
    line-height: 24px; }

  .container {
    padding-left: 24px;
    padding-right: 24px; }

  .row {
    margin-left: 0;
    margin-right: 0; }
    .row > div {
      padding-left: 0;
      padding-right: 0; }

  .box-shadow {
    box-shadow: 0 2px 8px rgba(39, 48, 67, 0.125);
    border-radius: 4px; }

  input {
    padding: 9px 20px !important;
    margin-bottom: 16px;
    font-size: 16px; }

  .get-started {
    padding-top: 0px;
    padding-bottom: 30px; }
    .get-started label {
      margin-bottom: 6px; }
    .get-started p {
      line-height: 20px;
      margin-bottom: 18px !important; }
    .get-started .form label {
      display: none; }
    .get-started .form input[type="text"] {
      width: 100%;
      border-radius: 6px; }
    .get-started .form input[type="submit"] {
      width: 100%;
      border-radius: 6px;
      margin-left: 0;
      padding-right: 16% !important;
      background-position: 82% center; }

  label {
    font-size: 12px; }

  footer {
    padding-top: 26px;
    padding-bottom: 26px;
    position: relative; }
    footer img.logo {
      width: 105px;
      margin-top: -3px; }
    footer .info {
      padding-left: 45px;
      font-size: 12px;
      line-height: 16px;
      margin-top: -7px; }
    footer .full {
      flex-basis: 100%; }
    footer .half {
      flex-basis: 50%; }
    footer .col {
      margin-top: 5px;
      margin-bottom: 0; }
    footer .social {
      margin-top: 10px; }
    footer .social li {
      width: 50%;
      float: left; }
    footer .locale {
      display: none; }
    footer .copyright {
      display: none; }
    footer .copy p {
      font-size: 12px;
      line-height: 16px;
      margin-bottom: 20px;
      margin-top: 40px; }

  body.sub .cover h2 {
    margin-bottom: 15px !important; }

  blockquote {
    margin-left: 0;
    padding-top: 0;
    margin-top: -3px; }
    blockquote > p {
      font-size: 16px !important;
      line-height: 21px !important;
      margin-bottom: 10px !important; }
    blockquote img {
      margin-top: 0;
      width: 34px;
      height: 34px;
      margin-left: 4px;
      margin-right: 8px; }
    blockquote .author {
      font-size: 16px;
      margin-bottom: 0; }
    blockquote .company {
      font-size: 12px; }

  div.testimonial {
    border-right: none;
    border-bottom: 1px solid #e4e5e8;
    padding: 24px 0 62px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    div.testimonial:last-child {
      border-bottom: none; }
    div.testimonial p {
      margin-bottom: 16px !important; }
    div.testimonial .author-wrap {
      width: 100%;
      left: 0;
      bottom: 30px; }
      div.testimonial .author-wrap img {
        float: left;
        margin-right: 8px;
        width: 36px;
        height: 36px;
        margin-top: 0; }
      div.testimonial .author-wrap .author {
        font-family: 'Roboto Slab', serif;
        font-size: 16px;
        color: #273043;
        letter-spacing: 0;
        line-height: 20px;
        font-weight: 700;
        margin-bottom: 0px;
        display: block; }
      div.testimonial .author-wrap .company {
        font-size: 13px;
        letter-spacing: 0;
        line-height: 14px; }

  .testimonials .col-md-4.testimonial {
    text-align: center;
    display: flex;
    justify-content: center; }
    .testimonials .col-md-4.testimonial:nth-child(2) {
      padding-top: 0; }
    .testimonials .col-md-4.testimonial .author-wrap {
      left: auto;
      display: flex;
      text-align: left;
      width: auto;
      margin: auto; }

  .flickity-page-dots {
    display: block !important; } }
.container {
  max-width: 1240px; }

.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -16px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
  margin-left: -15px !important;
  display: none; }

.flickity-page-dots .dot {
  display: inline-block;
  width: 7px;
  height: 7px;
  margin: 0 4px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #9e0059 !important;
  opacity: 1 !important; }
  .flickity-page-dots .dot.is-selected {
    background-color: #9e0059; }

body.home-invision {
  position: relative;
  height: 4800px; }
  body.home-invision:after {
    content: "";
    background-image: url("../img/home-invision.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 1440px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    opacity: 1; }
  body.home-invision h2 {
    margin-bottom: 49px; }

body.home-sketch {
  position: relative;
  height: 4800px; }
  body.home-sketch:after {
    content: "";
    background-image: url("../img/home-sketch.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 1440px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    opacity: 1; }
  body.home-sketch h2 {
    margin-bottom: 49px; }

body.home {
  position: relative; }
  body.home h2 {
    margin-bottom: 49px; }

.cover {
  position: relative;
  padding-top: 118px; }
  .cover h1 {
    margin-bottom: 30px; }
  .cover h4 {
    margin-bottom: 50px;
    width: 80%; }
  .cover p {
    font-family: 'Hind' sans-serif;
    font-size: 16px;
    color: #787e8a;
    letter-spacing: 0;
    line-height: 32px; }
  .cover a {
    color: #273043;
    font-weight: 700;
    padding-right: 30px; }

.customers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
  width: 73%;
  margin-bottom: 10px; }
  .customers img:last-child {
    margin-right: 0; }

.headline p a {
  color: #ed1062;
  background-image: url("../img/arrow-pink.svg");
  background-position: right center;
  background-repeat: no-repeat; }

.callout-wrap {
  position: relative;
  margin-top: -48px;
  padding-left: 60px; }
  .callout-wrap:before {
    content: "";
    background-image: url("../img/illustration-computer.svg");
    background-repeat: no-repeat;
    width: 176px;
    height: 150px;
    position: absolute;
    left: -90px;
    top: 150px; }
  .callout-wrap:after {
    content: "";
    background-image: url("../img/illustration-box.svg");
    width: 176px;
    height: 150px;
    position: absolute;
    right: -70px;
    top: 175px;
    background-repeat: no-repeat; }

.callout {
  padding: 25px 28px 32px 28px;
  position: relative;
  z-index: 1; }
  .callout label:first-child {
    color: #9e0059; }
  .callout ul {
    padding: 0;
    margin: 11px 0 32px 0; }
    .callout ul li {
      padding-left: 30px;
      font-family: 'Hind', sans-serif;
      font-size: 27px;
      color: #273043;
      letter-spacing: 0;
      line-height: 47px;
      list-style: none;
      background-image: url("../img/list.svg");
      background-position: left 20px;
      background-repeat: no-repeat; }
  .callout .button {
    display: block;
    padding: 0 30px;
    line-height: 44px; }
    .callout .button.primary {
      margin-top: 15px;
      margin-bottom: 16px; }
      .callout .button.primary span {
        background-image: url("../img/arrow-white.svg");
        background-repeat: no-repeat;
        background-position: right center;
        display: inline-block;
        padding-right: 35px; }

.section label {
  margin-bottom: 2px;
  color: #ed1062; }

.scheduling {
  padding-top: 89px;
  padding-bottom: 182px;
  position: relative; }
  .scheduling img {
    margin-top: 10px; }
  .scheduling:before {
    content: "";
    position: absolute;
    width: 548px;
    height: 750px;
    top: 151px;
    left: -30px;
    background: url(../img/circle.svg);
    background-position: right top; }

.testimonials {
  position: relative;
  z-index: 1; }
  .testimonials .carousel {
    background-color: #9E0059;
    border-radius: 8px;
    padding: 75px 0 52px 0;
    text-align: center;
    list-style: none;
    color: #FFF;
    height: 360px; }
    .testimonials .carousel .flickity-button {
      background: transparent !important;
      background-repeat: no-repeat !important;
      background-position: center !important; }
      .testimonials .carousel .flickity-button.next {
        background-image: url("../img/next.svg") !important; }
      .testimonials .carousel .flickity-button.previous {
        background-image: url("../img/previous.svg") !important; }
      .testimonials .carousel .flickity-button svg {
        display: none; }
    .testimonials .carousel .carousel-cell {
      width: 100%;
      padding: 0 24%; }
      .testimonials .carousel .carousel-cell label {
        color: #FFF; }
    .testimonials .carousel strong {
      color: #FFF; }
    .testimonials .carousel label {
      color: #FFF;
      margin-bottom: 10px;
      font-size: 12px; }
    .testimonials .carousel .quote {
      font-family: 'Roboto Slab', serif;
      font-size: 27px;
      letter-spacing: 0;
      line-height: 34px;
      margin-bottom: 42px; }

.billing {
  padding-top: 132px;
  padding-bottom: 198px;
  position: relative; }
  .billing .illustration {
    text-align: right; }
    .billing .illustration img {
      margin-top: 13px; }
  .billing p {
    margin-bottom: 38px; }
  .billing:before {
    content: "";
    position: absolute;
    width: 510px;
    height: 750px;
    top: -200px;
    right: -30px;
    background: url(../img/circle.svg);
    background-position: left top; }

.reporting {
  position: relative; }
  .reporting .illustration {
    margin-top: 26px; }
  .reporting:before {
    content: "";
    position: absolute;
    width: 463px;
    height: 750px;
    top: 60px;
    background: url(../img/circle.svg);
    background-position: right top;
    left: -30px; }

.support {
  padding-top: 258px;
  padding-bottom: 113px; }
  .support .illustration {
    text-align: left; }
    .support .illustration img {
      margin-top: 10px; }

div.features {
  margin-bottom: 8px; }
  div.features .box-shadow {
    padding-top: 45px;
    padding-bottom: 45px; }
  div.features .feature {
    padding: 0 40px;
    text-align: center; }
    div.features .feature:nth-child(2) {
      border-left: 1px solid #e4e5e8;
      border-right: 1px solid #e4e5e8; }
    div.features .feature.one .image {
      background-image: url("../img/feature-setup.svg"); }
    div.features .feature.two .image {
      background-image: url("../img/feature-secure.svg"); }
    div.features .feature.three .image {
      background-image: url("../img/feature-device.svg"); }
    div.features .feature .image {
      background-repeat: no-repeat;
      background-position: top center;
      height: 135px; }
    div.features .feature img {
      margin-bottom: 50px; }
    div.features .feature p {
      font-family: 'Hind', sans-serif;
      font-size: 16px;
      letter-spacing: 0;
      line-height: 21px;
      margin-bottom: 0; }

@media (max-width: 768px) {
  body.home .cover {
    padding-bottom: 10px; }
    body.home .cover h1 {
      margin-bottom: 16px; }
    body.home .cover h4 {
      width: 100%; }
  body.home .cover p {
    display: none; }
  body.home .customers {
    display: none; }
  body.home .callout-wrap {
    margin-top: -5px; }
    body.home .callout-wrap:before, body.home .callout-wrap:after {
      display: none; }
    body.home .callout-wrap .callout {
      padding: 8px 16px 14px 18px; }
    body.home .callout-wrap label {
      font-size: 12px; }
    body.home .callout-wrap ul {
      margin-top: 8px;
      margin-bottom: 24px; }
      body.home .callout-wrap ul li {
        font-size: 16px;
        line-height: 16px;
        margin-bottom: 15px;
        background-position: left center; }
    body.home .callout-wrap .button.primary {
      text-align: center;
      margin-top: 10px; }
    body.home .callout-wrap .button.secondary {
      padding: 0 !important; }
  body.home .illustration {
    margin-bottom: 15px; }
  body.home .scheduling {
    padding-top: 30px;
    padding-bottom: 48px; }
    body.home .scheduling:before {
      content: "";
      position: absolute;
      width: 190px;
      height: 300px;
      top: 130px;
      background-size: 300px;
      background-position: top right;
      left: 0; }
  body.home .section label {
    font-size: 12px; }
  body.home .section h2 {
    margin-bottom: 10px; }
  body.home .billing {
    padding-top: 50px;
    padding-bottom: 21px; }
    body.home .billing .illustration {
      margin-bottom: 18px; }
    body.home .billing:before {
      content: "";
      position: absolute;
      width: 220px;
      height: 300px;
      top: -60px;
      background-size: 300px;
      background-position: top left;
      right: 0; }
  body.home .reporting {
    padding-top: 0;
    padding-bottom: 24px; }
    body.home .reporting label {
      margin-bottom: 10px; }
    body.home .reporting:before {
      content: "";
      position: absolute;
      width: 180px;
      height: 310px;
      top: 95px;
      background-size: 310px;
      background-position: top right;
      left: 0; }
  body.home .support {
    padding-top: 17px;
    padding-bottom: 24px; }
  body.home div.features {
    padding-top: 50px;
    padding-bottom: 30px; }
    body.home div.features .box-shadow {
      padding: 20px 32px 0 32px; }
    body.home div.features .feature {
      padding: 24px 0px  !important; }
      body.home div.features .feature:first-child {
        padding-top: 15px !important; }
      body.home div.features .feature .image {
        height: 70px;
        background-position: center;
        background-size: 110px;
        margin-bottom: 20px; }
      body.home div.features .feature:last-child .image {
        background-size: 130px;
        margin-bottom: 30px;
        height: 70px; }
      body.home div.features .feature h5 {
        font-size: 21px;
        margin-bottom: 3px; }
      body.home div.features .feature p {
        font-size: 12px;
        line-height: 16px; }
      body.home div.features .feature:nth-child(2) {
        border-left: none !important;
        border-top: 1px solid #e4e5e8;
        border-right: none !important;
        border-bottom: 1px solid #e4e5e8; }

  .testimonials .carousel {
    padding: 24px 15px !important;
    height: 301px; }
    .testimonials .carousel label {
      margin-bottom: 22px !important; }
    .testimonials .carousel .quote {
      font-size: 21px !important;
      line-height: 27px !important;
      margin: 10px 0 20px 0 !important; }
    .testimonials .carousel .author {
      font-size: 16px !important; }
    .testimonials .carousel .carousel-cell {
      padding: 0 !important; }
    .testimonials .carousel .flickity-button {
      display: none; } }
.feature-links {
  position: relative;
  z-index: 1; }
  .feature-links ul {
    width: 100%;
    padding: 17px 30px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    margin-bottom: 87px; }
    .feature-links ul li a {
      color: #273043; }

.feature-section {
  margin-top: 105px; }
  .feature-section#membership {
    margin-top: 0; }
  .feature-section .header {
    text-align: center; }
    .feature-section .header p {
      width: 70%;
      margin-left: 15%;
      margin-bottom: 46px;
      line-height: 28px;
      font-size: 22px; }
  .feature-section .col-md-6 {
    padding: 0 7px; }
  .feature-section label {
    color: #9e0059;
    text-transform: none;
    font-weight: 700;
    font-size: 21px;
    line-height: 27px;
    margin-bottom: 18px; }
  .feature-section .feature {
    text-align: left;
    padding: 27px 32px;
    padding-bottom: 26px;
    margin-bottom: 16px;
    min-height: 180px; }
    .feature-section .feature p {
      margin-bottom: 0;
      line-height: 26px; }

@media (max-width: 768px) {
  body.features .feature-links {
    position: relative; }
    body.features .feature-links:before {
      content: "Jump to feature set";
      position: absolute;
      left: 41px;
      top: 14px;
      color: #787e8a;
      display: block;
      font-size: 12px;
      line-height: 12px;
      z-index: 2; }
    body.features .feature-links ul {
      background-image: url(../img/dropdown.svg);
      background-repeat: no-repeat;
      background-position: 95% 18px;
      margin-top: 29px;
      margin-bottom: 28px;
      display: block;
      min-height: 40px;
      transition: All .25s ease;
      padding-left: 16px;
      padding-right: 16px; }
      body.features .feature-links ul li {
        display: none;
        font-size: 14px;
        line-height: 28px; }
      body.features .feature-links ul.active {
        padding: 42px 16px 16px 16px;
        min-height: 254px; }
        body.features .feature-links ul.active li {
          display: block; }
  body.features .feature-section {
    margin-top: 36px; }
    body.features .feature-section .header {
      padding: 0 10px; }
      body.features .feature-section .header p {
        width: 100%;
        margin-left: 0;
        margin-bottom: 22px;
        font-size: 12px;
        line-height: 17px; }
  body.features .feature {
    padding: 10px 16px 14px 16px;
    height: auto;
    margin-bottom: 10px;
    min-height: 0; }
    body.features .feature label {
      font-size: 15px;
      margin-bottom: 8px; }
    body.features .feature p {
      margin-bottom: 0 !important;
      font-size: 12px;
      line-height: 16px; }
  body.features .callout-wrap:before, body.features .callout-wrap:after {
    display: none; }
  body.features .get-started {
    margin-top: 28px; } }
body.testimonials {
  position: relative; }
  body.testimonials .header {
    text-align: center; }
    body.testimonials .header label {
      margin-bottom: 28px;
      color: #9e0059; }
  body.testimonials .cover .illustration {
    margin-top: -40px; }
  body.testimonials .customers {
    position: relative;
    z-index: 10;
    margin-bottom: 112px;
    margin-top: -29px;
    width: 100%; }
  body.testimonials .customers .box-shadow {
    background-image: url("../img/customer-background.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 123px;
    position: relative;
    z-index: 1;
    width: 100%;
    margin-top: -80px; }
  body.testimonials .featured-testimonial {
    margin-top: 70px;
    margin-bottom: 73px; }
    body.testimonials .featured-testimonial img {
      width: 100px; }
    body.testimonials .featured-testimonial p {
      color: #273043; }
    body.testimonials .featured-testimonial label {
      font-size: 12px;
      color: #9e0059;
      margin-bottom: 7px; }
    body.testimonials .featured-testimonial .box-shadow {
      padding-top: 30px;
      padding-bottom: 30px;
      padding-left: 30px;
      padding-right: 60px; }
    body.testimonials .featured-testimonial .author-info {
      padding-left: 32px; }
    body.testimonials .featured-testimonial .author {
      font-family: 'Roboto Slab', serif;
      font-size: 42px;
      line-height: 42px;
      display: block;
      margin-top: 65px;
      font-weight: 700; }
    body.testimonials .featured-testimonial .company {
      font-size: 21px;
      line-height: 32px;
      color: #787e8a; }
  body.testimonials .get-started {
    padding-top: 0; }

body.testimonials .carousel, body.signup .carousel {
  margin-top: 72px;
  margin-bottom: 78px; }
body.testimonials .carousel, body.signup .carousel {
  padding: 44px 0 52px 0; }
  body.testimonials .carousel label, body.signup .carousel label {
    margin-bottom: 22px; }
  body.testimonials .carousel .quote, body.signup .carousel .quote {
    font-size: 33px;
    line-height: 41px;
    margin-bottom: 31px; }
  body.testimonials .carousel .carousel-cell, body.signup .carousel .carousel-cell {
    padding: 0 20%; }
  body.testimonials .carousel .author, body.signup .carousel .author {
    font-size: 20px; }

@media (max-width: 768px) {
  body.testimonials .cover .illustration {
    margin-top: 4px; }
  body.testimonials .header {
    text-align: center; }
    body.testimonials .header label {
      margin-bottom: 16px; }
  body.testimonials .customers {
    height: 120px;
    padding: 0 24px;
    margin-bottom: 18px;
    margin-top: -105px; }
    body.testimonials .customers .box-shadow {
      background-image: url("../img/customer-background-mobile.png");
      margin-top: 0; }
  body.testimonials .featured-testimonial {
    margin-top: 8px !important;
    margin-bottom: 8px !important; }
    body.testimonials .featured-testimonial .box-shadow {
      padding: 24px 16px; }
      body.testimonials .featured-testimonial .box-shadow .author-info {
        padding-left: 0; }
        body.testimonials .featured-testimonial .box-shadow .author-info img {
          float: left;
          width: 60px;
          margin-right: 16px;
          margin-top: -8px; }
        body.testimonials .featured-testimonial .box-shadow .author-info .author {
          margin-top: 0;
          font-size: 21px !important;
          line-height: 20px !important;
          display: block;
          width: 100%; }
        body.testimonials .featured-testimonial .box-shadow .author-info .company {
          font-size: 12px !important;
          display: block; }
    body.testimonials .featured-testimonial .author-wrap {
      float: left; }
  body.testimonials .carousel {
    margin-top: 48px;
    margin-bottom: 48px; }
  body.testimonials .get-started {
    margin-top: 48px; } }
body.pricing h4 {
  color: #273043; }
body.pricing .pricing-table {
  text-align: center;
  margin-top: 49px; }
  body.pricing .pricing-table .dropdown {
    margin-left: 10px;
    font-weight: 700;
    color: #787e8a; }
  body.pricing .pricing-table .box-shadow {
    padding: 24px; }
  body.pricing .pricing-table .header {
    padding-bottom: 20px; }
  body.pricing .pricing-table .tier {
    border-right: 1px solid #e4e5e8;
    margin-bottom: 16px; }
    body.pricing .pricing-table .tier:last-child {
      border-right: none; }
    body.pricing .pricing-table .tier > div:first-child {
      border-bottom: 1px solid #e4e5e8;
      padding-bottom: 19px; }
    body.pricing .pricing-table .tier > div:last-child {
      padding-top: 36px; }
  body.pricing .pricing-table .currency {
    font-family: 'Roboto Slab', serif;
    font-size: 27px;
    line-height: 27px;
    font-weight: 700;
    position: relative;
    top: -20px;
    color: #9e0059; }
  body.pricing .pricing-table .price {
    font-family: 'Roboto Slab', serif;
    font-size: 55px;
    line-height: 42px;
    font-weight: 700;
    margin-bottom: 10px;
    display: inline-block;
    color: #9e0059; }
  body.pricing .pricing-table .user-count {
    font-family: 'Roboto Slab', serif;
    font-size: 34px;
    line-height: 27px;
    font-weight: 700;
    margin-bottom: 10px;
    display: block; }
  body.pricing .pricing-table label {
    font-size: 12px;
    letter-spacing: 0.75px;
    line-height: 27px;
    color: #aeb1b9; }
body.pricing .usd, body.pricing .gbp {
  width: 100%; }
body.pricing .faq {
  margin-top: 100px;
  position: relative;
  padding-left: 40px; }
  body.pricing .faq:before {
    content: "";
    position: absolute;
    width: 360px;
    height: 750px;
    top: -369px;
    left: -30px;
    background: url(../img/circle.svg);
    background-position: right top;
    background-size: 590px;
    background-repeat: no-repeat; }
  body.pricing .faq .questions {
    padding-left: 80px; }
    body.pricing .faq .questions h3 {
      margin-bottom: 77px; }
    body.pricing .faq .questions .question {
      margin-bottom: 48px; }
      body.pricing .faq .questions .question h4 {
        font-size: 34px;
        line-height: 39px;
        font-weight: 700;
        margin-bottom: 20px; }
body.pricing .signup-box {
  padding-left: 60px;
  margin-top: -22px; }
  body.pricing .signup-box ul {
    list-style: none;
    padding: 17px 0 48px 0;
    margin-bottom: 0; }
    body.pricing .signup-box ul li {
      padding-left: 50px;
      background-image: url("../img/icon-check.svg");
      background-repeat: no-repeat;
      background-position: left 5px;
      background-size: 24px;
      margin: 23px 0;
      font-size: 21px;
      line-height: 33px; }
      body.pricing .signup-box ul li:first-child {
        margin-top: 0; }
      body.pricing .signup-box ul li:last-child {
        margin-bottom: 0; }
  body.pricing .signup-box .box-shadow {
    padding: 38px 32px; }
    body.pricing .signup-box .box-shadow input[type="submit"] {
      margin-bottom: 0;
      background-image: url("../img/arrow-white.svg");
      background-repeat: no-repeat;
      padding-right: 16%;
      background-position: 79% center; }

@media (max-width: 768px) {
  body.pricing .pricing-table {
    margin-top: 30px; }
    body.pricing .pricing-table .box-shadow {
      padding-top: 18px; }
    body.pricing .pricing-table .header {
      padding-bottom: 26px; }
  body.pricing .tier {
    flex-basis: 100%;
    flex-wrap: nowrap;
    display: flex;
    border-bottom: 1px solid #e4e5e8;
    border-right: none !important;
    padding: 28px 0;
    margin-bottom: 0 !important; }
    body.pricing .tier .price {
      font-size: 40px;
      margin-bottom: 5px; }
    body.pricing .tier .currency {
      top: -15px;
      font-size: 20px; }
    body.pricing .tier:first-child {
      padding-top: 0; }
    body.pricing .tier:last-child {
      border-bottom: none;
      padding-bottom: 0; }
    body.pricing .tier label {
      margin-bottom: 0; }
    body.pricing .tier div:first-child {
      border-bottom: none !important;
      padding-bottom: 0 !important;
      text-align: left; }
    body.pricing .tier div:last-child {
      padding-top: 15px !important;
      padding-left: 28px;
      padding-right: 0;
      border-left: 1px solid #e4e5e8;
      text-align: left; }
      body.pricing .tier div:last-child .user-count {
        font-size: 27px;
        margin-bottom: 5px; }
  body.pricing h3 {
    margin-bottom: 32px !important;
    text-align: center; }
  body.pricing h4 {
    font-size: 21px !important;
    line-height: 27px !important;
    margin-bottom: 12px !important; }
  body.pricing .faq {
    margin-top: 25px;
    padding-left: 24px; }
    body.pricing .faq .question {
      margin-bottom: 32px !important; }
    body.pricing .faq:before {
      content: "";
      position: absolute;
      width: 190px;
      height: 300px;
      top: -130px;
      background-size: 300px;
      background-position: top right;
      left: 0; }
  body.pricing .questions, body.pricing .signup-box {
    padding-left: 0 !important;
    margin-top: 16px; }
  body.pricing .signup-box {
    margin-bottom: 48px; }
    body.pricing .signup-box .box-shadow {
      padding: 22px 22px 18px 22px; }
      body.pricing .signup-box .box-shadow label:first-child {
        font-size: 16px;
        margin-bottom: 16px; }
      body.pricing .signup-box .box-shadow .signup label {
        font-size: 12px;
        margin-bottom: 10px; }
      body.pricing .signup-box .box-shadow .signup .button {
        padding-right: 18% !important;
        background-position: 88% center; }
      body.pricing .signup-box .box-shadow ul {
        padding-bottom: 22px; }
      body.pricing .signup-box .box-shadow li {
        margin: 18px 0;
        line-height: 26px !important;
        background-position: left top;
        padding-left: 38px; }
  body.pricing .get-started {
    display: none; } }
body.signup .signup-form {
  margin-top: 48px;
  margin-bottom: 80px; }
  body.signup .signup-form .box-shadow {
    padding: 48px; }
  body.signup .signup-form .header {
    font-size: 27px;
    line-height: 27px;
    text-align: center;
    margin-bottom: 32px; }
  body.signup .signup-form .form {
    border-right: 1px solid #e4e5e8;
    padding-right: 48px; }
    body.signup .signup-form .form .button {
      margin-bottom: 0;
      background-image: url("../img/arrow-white.svg");
      background-repeat: no-repeat;
      background-position: 60% center; }
  body.signup .signup-form .feature-list {
    padding-left: 33px;
    padding-top: 8px; }
    body.signup .signup-form .feature-list label {
      margin-bottom: 24px;
      color: #9e0059; }
    body.signup .signup-form .feature-list ul {
      list-style: none;
      padding: 0; }
      body.signup .signup-form .feature-list ul li {
        font-size: 21px;
        line-height: 27px;
        margin-bottom: 24px;
        background-image: url("../img/list.svg");
        background-position: left 8px;
        background-repeat: no-repeat;
        padding-left: 32px; }
body.signup .g-recaptcha {
  margin: 0px 0 32px 0; }
body.signup .testimonials label {
  color: #9e0059; }
body.signup .testimonials h3 {
  margin-bottom: 48px;
  text-align: center; }
body.signup .testimonials .header {
  text-align: center;
  margin-bottom: 30px; }
body.signup .carousel {
  margin-top: 70px;
  margin-bottom: 78px; }
body.signup footer {
  margin-top: 73px; }

@media (max-width: 768px) {
  body.signup .signup-form {
    margin-top: 30px;
    margin-bottom: 34px; }
    body.signup .signup-form .box-shadow {
      padding: 16px; }
    body.signup .signup-form .form {
      border-right: none;
      padding-right: 0; }
    body.signup .signup-form .header {
      font-size: 21px;
      line-height: 27px;
      margin-bottom: 22px; }
    body.signup .signup-form label {
      margin-bottom: 8px; }
    body.signup .signup-form input {
      margin-bottom: 14px;
      width: 100%; }
    body.signup .signup-form .feature-list {
      padding: 32px 0 0 0; }
      body.signup .signup-form .feature-list label {
        font-size: 16px; }
      body.signup .signup-form .feature-list ul li {
        font-size: 16px;
        line-height: 21px; }
      body.signup .signup-form .feature-list li {
        margin-bottom: 17px !important; }
    body.signup .signup-form .mobile {
      width: 100%; }
    body.signup .signup-form input[type="submit"] {
      padding-right: 18% !important;
      background-position: 85% center !important;
      margin-top: 10px; }
  body.signup .testimonials .header {
    margin-bottom: 5px; }
  body.signup .testimonials h3 {
    margin-bottom: 0; }
  body.signup .carousel {
    margin-top: 14px;
    margin-bottom: 48px; }
  body.signup footer {
    margin-top: 20px; }
  body.signup .flickity-page-dots {
    display: none !important; } }

/*# sourceMappingURL=style.css.map */
