$primary: #ED1062;
$purple: #9E0059;
$green: #D1ED10;
$dark-blue: #273043;
$grey1: #F5F6F7;
$grey2: #E4E5E8;
$grey3: #AEB1B9;
$grey4: #787E8A;
$box-shadow: 0 2px 8px 0 rgba(39,48,67,0.12);
$border-radius: 6px;
$border-radius-small: 4px;
$border-light: #E4E5E8;
$border-darker: #AEB1B9;